<!DOCTYPE html>
<html>
<head>
    <%- include ../portion/meta.html %>
    <%- include ../portion/css.html %>
    <title>Nonitor</title>
</head>
<body ng-app="application">
<div>
    <!--header -->
    <%- include ../portion/header.html %>
    <!--main content-->

    <!--content-->
    <div class="content container" style="margin-top: 50px;" ng-controller="UserApplicationsController">
        <div class="row">
            <div class="col-xs-6" ng-repeat="app in applications">
                <div class="box">
                    <a href="/app/summary?app={{app._id}}">
                        <p class="icon">
                            <i class="fa fa-calendar"></i>
                        </p>
                        <p class="description">
                            <strong>{{app.name}}</strong> meetings
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include ../portion/js.html %>

<script src="/js/user/application.js"></script>

</body>
</html>