<!DOCTYPE html>
<html>
<head>
    <%- include ../portion/meta.html %>
    <%- include ../portion/css.html %>
    <title>Nonitor</title>
</head>
<body>


<div>
    <!--header -->
    <%- include ../portion/header.html %>
    <!--main content-->

    <!--content-->
    <div class="content container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-xs-6">
                <div class="box">
                    <a href="/app/summary?app=key">
                        <p class="icon">
                            <i class="fa fa-calendar"></i>
                        </p>
                        <p class="description">
                            <strong>14</strong> meetings
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="description">
                        <strong>14</strong> meetings
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="description">
                        <strong>14</strong> meetings
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="description">
                        <strong>14</strong> meetings
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="description">
                        <strong>14</strong> meetings
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="description">
                        <strong>14</strong> meetings
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include ../portion/js.html %>

</body>
</html>