<!DOCTYPE html>
<html>
<head>
    <%- include ../portion/meta.html %>
    <%- include ../portion/css.html %>
    <title>Nonitor</title>
</head>
<body>
<%- include ../portion/nav.html %>

<!--main content-->
<div class="wrap" ng-app="application">
    <!--header -->
    <%- include ../portion/header.html %>

    <!--content-->
    <div class="content container" ng-controller="SummaryController">

        <h2 class="page-title">
            Summary <small>{{appName}}</small>
        </h2>

        <div class="row">
            <!--center content-->
            <div class="col-lg-8">
                <!--web transaction-->
                <section class="widget" ng-controller="WebTransactionSummaryController">
                    <header>
                        <h4>
                            Web Transaction
                        </h4>
                    </header>

                    <div class="body no-margin">
                        <div class="chart visits-chart">
                            <svg id="webTransactionChart"></svg>
                        </div>
                        <div class="visits-info well well-sm">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="key">
                                        <i class="fa fa-flag"></i>
                                        <strong> Total</strong>
                                    </div>
                                    <div class="value">{{total}} <i class="fa fa-caret-up color-blue"></i></div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="key ">
                                        <i class="fa fa-clock-o"></i>
                                        <strong> Timeout</strong>
                                    </div>
                                    <div class="value">{{timeout}} <i class="fa fa-caret-up color-orange"></i></div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="key">
                                        <i class="fa fa-bomb"></i>
                                        <strong> Error</strong>
                                    </div>
                                    <div class="value">{{error}} <i class="fa fa-caret-up color-red"></i></div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="key">
                                        <i class="fa fa-send"></i>
                                        <strong> Availability</strong>
                                    </div>
                                    <div class="value">{{availability | percentage}} <i class="fa fa-caret-up color-green"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--events-->
            <div class="col-lg-4">
                <section class="widget widget-tabs large" ng-controller="ApplicationEventsController">
                    <header>
                        <ul class="nav nav-tabs">
                            <li class="active" ng-click="crash()">
                                <a href="#eventCrash" data-toggle="tab">
                                    <i class="fa fa-flash text-danger"></i> Crash
                                </a>
                            </li>
                            <li ng-click="error()">
                                <a href="#eventError" data-toggle="tab">
                                    <i class="fa fa-flash text-danger"></i> Error
                                </a>
                            </li>

                            <li ng-click="stop()">
                                <a href="#eventStop" data-toggle="tab">
                                    <i class="fa fa-flash text-warning"></i> Stop
                                </a>
                            </li>

                            <li ng-click="start()">
                                <a href="#eventStart" data-toggle="tab">
                                    <i class="fa fa-flash text-success"></i> Start
                                </a>
                            </li>

                        </ul>
                    </header>
                    <div class="body tab-content">
                        <div id="eventCrash" class="tab-pane active clearfix">
                            <table class="table table-lg sources-table">
                                <thead>
                                <tr>
                                    <th>node</th>
                                    <th>time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="crash in crashEvents">
                                    <td>
                                        {{crash.node | slice:30}}
                                    </td>
                                    <td>
                                        {{crash.time | date}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="eventError" class="tab-pane clearfix">
                            <table class="table table-lg sources-table">
                                <thead>
                                <tr>
                                    <th>node</th>
                                    <th>time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="crash in errorEvents">
                                    <td>
                                        {{crash.node | slice:30}}
                                    </td>
                                    <td>
                                        {{crash.time | date}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="eventStop"  class="tab-pane clearfix">
                            <table class="table table-lg sources-table">
                                <thead>
                                <tr>
                                    <th>node</th>
                                    <th>time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="crash in stopEvents">
                                    <td>
                                        {{crash.node | slice:30}}
                                    </td>
                                    <td>
                                        {{crash.time | date}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="eventStart" class="tab-pane clearfix">
                            <table class="table table-lg sources-table">
                                <thead>
                                <tr>
                                    <th>node</th>
                                    <th>time</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="crash in startEvents">
                                    <td>
                                        {{crash.node | slice:30}}
                                    </td>
                                    <td>
                                        {{crash.time | date}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <section class="widget widget-tabs" ng-controller="TransactionExceptionController">
                    <header>
                        <ul class="nav nav-tabs">
                            <li class="active" ng-click="error()">
                                <a href="#transactionError" data-toggle="tab">
                                    <i class="fa fa-bomb text-danger"></i> Error
                                </a>
                            </li>
                            <li ng-click="timeout()">
                                <a href="#transactionTimeout" data-toggle="tab">
                                    <i class="fa fa-clock-o text-danger"></i> Timeout
                                </a>
                            </li>

                            <li ng-click="warn()">
                                <a href="#transactionWarning" data-toggle="tab">
                                    <i class="fa fa-bell text-warning"></i> Warning
                                </a>
                            </li>

                        </ul>
                    </header>
                    <div class="body tab-content">
                        <div id="transactionError" class="tab-pane active clearfix">
                            <table class="table table-striped table-lg mt-sm mb-0 sources-table">
                                <thead>
                                <tr>
                                    <th>Url</th>
                                    <th>Method</th>
                                    <th>Time</th>
                                    <th>Type</th>
                                    <th>Message</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="exp in errors">
                                    <td>
                                        <a href="/app/url?url={{exp.url | encode}}&method={{exp.method}}" target="_blank">
                                            {{exp.url | slice:30}}
                                        </a>
                                    </td>
                                    <td>
                                        {{exp.method}}
                                    </td>
                                    <td>
                                        {{exp.time | date}}
                                    </td>
                                    <td>
                                    <span class="label label-important">
                                    {{exp.type | exception}}
                                    </span>
                                    </td>
                                    <td>
                                        {{exp.message | join | slice:30}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="transactionTimeout" class="tab-pane clearfix">
                            <table class="table table-striped table-lg mt-sm mb-0 sources-table">
                                <thead>
                                <tr>
                                    <th>Url</th>
                                    <th>Method</th>
                                    <th>Time</th>
                                    <th>Type</th>
                                    <th>Message</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="exp in timeouts">
                                    <td>
                                        {{exp.url | slice:30}}
                                    </td>
                                    <td>
                                        {{exp.method}}
                                    </td>
                                    <td>
                                        {{exp.time | date}}
                                    </td>
                                    <td>
                                    <span class="label label-important">
                                    {{exp.type | exception}}
                                    </span>
                                    </td>
                                    <td>
                                        {{exp.message | join | slice:30}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="transactionWarning"  class="tab-pane  clearfix">
                            <table class="table table-striped table-lg mt-sm mb-0 sources-table">
                                <thead>
                                <tr>
                                    <th>Url</th>
                                    <th>Method</th>
                                    <th>Time</th>
                                    <th>Type</th>
                                    <th>Message</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="exp in warns">
                                    <td>
                                        {{exp.url | slice:30}}
                                    </td>
                                    <td>
                                        {{exp.method}}
                                    </td>
                                    <td>
                                        {{exp.time | date}}
                                    </td>
                                    <td>
                                    <span class="label label-warning">
                                    {{exp.type | exception}}
                                    </span>
                                    </td>
                                    <td>
                                        {{exp.message | join | slice:30}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

            </div>
        </div>

        <div class="row">
            <!--right content-->
            <div class="col-lg-12">
                <section class="widget" ng-controller="NodesInfoController">
                    <header>
                        <h4>
                            Nodes Info
                        </h4>
                    </header>
                    <div class="row">
                        <div class="col-lg-3 body"  ng-repeat="node in nodes">
                            <section>
                                <table class="table table-lg sources-table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                {{node.hostname | slice:30}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>platform</td>
                                        <td>{{node.platform}}</td>
                                    </tr>

                                    <tr>
                                        <td>release</td>
                                        <td>{{node.release}}</td>
                                    </tr>

                                    <tr>
                                        <td>arch</td>
                                        <td>{{node.arch}}</td>
                                    </tr>

                                    <tr>
                                        <td>cpus</td>
                                        <td>{{node.cpus}}</td>
                                    </tr>

                                    <tr>
                                        <td>memory</td>
                                        <td>{{node.mem / 1024 / 1024}}MB</td>
                                    </tr>

                                    <tr>
                                        <td>node version</td>
                                        <td>{{node.nnode}}</td>
                                    </tr>

                                    <tr>
                                        <td>node ares</td>
                                        <td>{{node.nares}}</td>
                                    </tr>

                                    <tr>
                                        <td>node icu</td>
                                        <td>{{node.nicu}}</td>
                                    </tr>

                                    <tr>
                                        <td>node modules</td>
                                        <td>{{node.nmodules}}</td>
                                    </tr>

                                    <tr>
                                        <td>node openssl</td>
                                        <td>{{node.nopenssl}}</td>
                                    </tr>

                                    <tr>
                                        <td>node uv</td>
                                        <td>{{node.nuv}}</td>
                                    </tr>

                                    <tr>
                                        <td>node v8</td>
                                        <td>{{node.nv8}}</td>
                                    </tr>

                                    <tr>
                                        <td>node zlib</td>
                                        <td>{{node.nzlib}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>


    </div>

    <!--load wrap-->
    <div class="loader-wrap hiding hide">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
</div>

<%- include ../portion/js.html %>

<script src="/lib/nvd3/d3.min.js"></script>
<script src="/lib/nvd3/nv.d3.min.js"></script>
<!-- page application js -->
<script src="/js/app/summary.js"></script>

</body>
</html>