<!DOCTYPE html>
<html>
<head>
    <%- include ../portion/meta.html %>
    <%- include ../portion/css.html %>
    <title>Nonitor</title>
</head>
<body ng-app="application">
<%- include ../portion/nav.html %>

<!--main content-->
<div class="wrap" ng-app="application">
    <!--header -->
    <%- include ../portion/header.html %>

    <!--content-->
    <div class="content container">

        <h2 class="page-title">
            Application Manage
        </h2>

        <div class="row" ng-controller="ApplicationManageController">

            <!--right content-->
            <div class="col-lg-12">
                <section class="widget" >
                    <header>
                        <h4>
                            App Account
                        </h4>
                    </header>
                    <div class="row">
                        <div class="col-lg-12 body">
                            <section>
                                <table class="table table-lg sources-table">
                                    <thead>
                                    <tr>
                                        <th>App Name</th>
                                        <th>App Key</th>
                                        <th>App Secret</th>
                                        <th>App Status</th>
                                        <th>Create Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in applications">
                                        <td>{{item.name}}</td>
                                        <td>{{item.key}}</td>
                                        <td>{{item.secret}}</td>
                                        <td>{{item.status | status}}</td>
                                        <td>{{item.ctime | date}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-12">
                <section class="widget" >
                    <form class="form-horizontal form-label-left" ng-controller="NewApplicationController">
                        <div class="form-group">
                            <label class="control-label col-sm-2">
                                App Name <span class="required">*</span>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="appName" required="required" class="form-control input-transparent" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">
                                App Key <span class="required"></span>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="appKey"  class="form-control input-transparent" placeholder="Auto Generate">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">
                                App Secret <span class="required"></span>
                            </label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="appSecret" class="form-control input-transparent" placeholder="Auto Generate">
                            </div>
                        </div>

                        <button class="btn btn-success" ng-click="generate()">
                            <i class="fa fa-circle-o-notch"></i> Gen
                        </button>

                        <button class="btn btn-danger pull-right" ng-click="save()">
                            <i class="fa fa-database"></i> Save
                        </button>

                    </form>

                </section>
            </div>

        </div>

    </div>

    <!--load wrap-->
    <div class="loader-wrap hiding hide">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
</div>

<%- include ../portion/js.html %>

<script src="/lib/nvd3/d3.min.js"></script>
<script src="/lib/nvd3/nv.d3.min.js"></script>
<!-- page application js -->
<script src="/js/setting/application.js"></script>

</body>
</html>